<!DOCTYPE html>
<html>
  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="messageBoard"></div>
    <form id="info" method="post" onsubmit="return addMessage()">
      Author
      <input type="text" name="author">
      Email
      <input type="text" name="email"><br>
      Message<br>
      <textarea rows="4" cols="20" name="message"></textarea><br>
      <input type="submit" value="submit">
    </form>
    <script>
      function clear(){
        const form = document.getElementById("info");
        form.reset();
      }
      function appendOne(data){
        const messageBoard = document.getElementById("messageBoard");
        var tmp = document.createElement("div");
        for(let key in data){
          tmp.innerText += key + ": " + data[key] + "\n";
        }
        // tmp.innerText = data.author + "\n" + data.email + "\n" + data.time + "\n" + data.message + "\n"; 
        tmp.style = "border: solid 1px";
        messageBoard.appendChild(tmp);
      }
      function addMessage(){
        var author = document.forms["info"].author.value;
        var email = document.forms["info"].email.value;
        var message = document.forms["info"].message.value;
        $.ajax({
          url: "/send",
          type: "post",
          data:{
            author: author,
            email: email,
            time: new Date(),
            message: message
          },
          success: function(result){
            clear();
            if(typeof result === "string") alert(result)
            else appendOne(result);
          }
        })
        return false;
      }
    </script>
  </body>
</html>